@charset "utf-8";
@font-face {
  font-family: 'iconfont';  /* project id 146425 */
  src: url('//at.alicdn.com/t/font_rl45utar3d0wwmi.eot');
  src: url('//at.alicdn.com/t/font_rl45utar3d0wwmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_rl45utar3d0wwmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_rl45utar3d0wwmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_rl45utar3d0wwmi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0
}
html {
  color: #333;
  background: #f5f5f5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 14px/1.5 "Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, sans-serif;
}
input,
select,
textarea {
  font-size: 100%;
}
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #1499d2;
  outline: none;
  transition: border-color 0.1s;
}
a:focus,
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #333;
  /*这个私有属性是有效的 */
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: inherit;
}
fieldset,
img {
  border: 0;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
i {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 600;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
q:before,
q:after {
  content: '';
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  min-height: 100%;
  font: 14px/1.5 "Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, sans-serif;
  color: #333;
  -webkit-overflow-scrolling: touch;
}
.no-mobile {
  min-width: 1200px;
}
a {
  color: #333;
  text-decoration: none;
}
a.link:hover {
  color: #1499d2;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
body {
  min-width: 320px;
}
.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  max-width: 1160px;
  min-width: 300px;
}
.no-mobile .content {
  min-width: 1160px;
}
.hide {
  display: none;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
div.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.resp-img {
  max-width: 100%;
  display: block;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none!important;
}
.un-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.h0 {
  height: 0;
}
.w20 {
  width: 20px;
}
.w50 {
  width: 50px;
}
.w70 {
  width: 70px;
}
.w100 {
  width: 100px;
}
.w120 {
  width: 120px;
}
.w140 {
  width: 140px;
}
.w160 {
  width: 160px;
}
.w180 {
  width: 180px;
}
.w200 {
  width: 200px;
}
.w220 {
  width: 220px;
}
.w250 {
  width: 250px;
}
.w280 {
  width: 280px;
}
.w300 {
  width: 300px;
}
.w320 {
  width: 320px;
}
.w360 {
  width: 360px;
}
.w400 {
  width: 400px;
}
.w460 {
  width: 460px;
}
.w500 {
  width: 500px;
}
.w600 {
  width: 600px;
}
.w640 {
  width: 640px;
}
.w700 {
  width: 700px;
}
.pct10 {
  width: 10%;
}
.pct15 {
  width: 15%;
}
.pct20 {
  width: 20%;
}
.pct25 {
  width: 25%;
}
.pct30 {
  width: 30%;
}
.pct33 {
  width: 33.3%;
}
.pct40 {
  width: 40%;
}
.pct50 {
  width: 50%;
}
.pct60 {
  width: 60%;
}
.pct66 {
  width: 66.6%;
}
.pct70 {
  width: 70%;
}
.pct75 {
  width: 75%;
}
.pct80 {
  width: 80%;
}
.pct90 {
  width: 90%;
}
.pct100 {
  width: 100%;
}
/* margin */
.m0 {
  margin: 0;
}
.ml1 {
  margin-left: 1px;
}
.ml2 {
  margin-left: 2px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.mr1 {
  margin-right: 1px;
}
.mr2 {
  margin-right: 2px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mt1 {
  margin-top: 1px;
}
.mt2 {
  margin-top: 2px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb1 {
  margin-bottom: 1px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml-1 {
  margin-left: -1px;
}
.mr-1 {
  margin-right: -1px;
}
.mt-1 {
  margin-top: -1px;
}
.mb-1 {
  margin-bottom: -1px;
}
.ml-3 {
  margin-left: -3px;
}
.mr-3 {
  margin-right: -3px;
}
.mt-3 {
  margin-top: -3px;
}
.mb-3 {
  margin-bottom: -3px;
}
.ml-20 {
  margin-left: -20px;
}
.mr-20 {
  margin-right: -20px;
}
.mt-20 {
  margin-top: -20px;
}
.mb-20 {
  margin-bottom: -20px;
}
.p0 {
  padding: 0;
}
.p1 {
  padding: 1px;
}
.p2 {
  padding: 2px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.pl1 {
  padding-left: 1px;
}
.pt1 {
  padding-top: 1px;
}
.pr1 {
  padding-right: 1px;
}
.pb1 {
  padding-bottom: 1px;
}
.pl2 {
  padding-left: 2px;
}
.pt2 {
  padding-top: 2px;
}
.pr2 {
  padding-right: 2px;
}
.pb2 {
  padding-bottom: 2px;
}
.pl5 {
  padding-left: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pt30 {
  padding-top: 30px;
}
.pr30 {
  padding-right: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
.space15 {
  margin: 15px 0;
}
.space20 {
  margin: 20px 0;
}
.space25 {
  margin: 25px 0;
}
.space30 {
  margin: 30px 0;
}
.bdc {
  border: 1px solid #ccc;
}
.blc {
  border-left: 1px solid #ccc;
}
.brc {
  border-right: 1px solid #ccc;
}
.btc {
  border-top: 1px solid #ccc;
}
.bbc {
  border-bottom: 1px solid #ccc;
}
.bdd {
  border: 1px solid #ddd;
}
.bld {
  border-left: 1px solid #ddd;
}
.brd {
  border-right: 1px solid #ddd;
}
.btd {
  border-top: 1px solid #ddd;
}
.bbd {
  border-bottom: 1px solid #ddd;
}
.bde {
  border: 1px solid #eee;
}
.ble {
  border-left: 1px solid #eee;
}
.bre {
  border-right: 1px solid #eee;
}
.bte {
  border-top: 1px solid #eee;
}
.bbe {
  border-bottom: 1px solid #eee;
}
.gray0 {
  color: #000;
}
.gray3 {
  color: #333;
}
.gray6 {
  color: #666;
}
.gray9 {
  color: #999;
}
.grayc {
  color: #ccc;
}
.grayw {
  color: #fff;
}
.f0 {
  font-size: 0;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f28 {
  font-size: 28px;
}
/* font-family */
.arial {
  font-family: Arial;
}
/* font-style */
.fn {
  font-weight: normal;
  font-style: normal;
  white-space: normal;
}
/* text-align */
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.tj {
  text-align: justify;
}
/* text-decoration */
/* letter-spacing */
.ls-1 {
  letter-spacing: -1px;
}
.ls0 {
  letter-spacing: 0;
}
.ls1 {
  letter-spacing: 1px;
}
/* white-space */
.nowrap {
  white-space: nowrap;
}
/* word-wrap */
/* vertical-align */
.va-m {
  vertical-align: middle;
}
.va-tb {
  vertical-align: text-bottom;
}
.va-b {
  vertical-align: bottom;
}
.va-t {
  vertical-align: top;
}
.v-1 {
  vertical-align: -1px;
}
.v-2 {
  vertical-align: -2px;
}
.v-3 {
  vertical-align: -3px;
}
.v-4 {
  vertical-align: -4px;
}
.v-5 {
  vertical-align: -5px;
}
/* float */
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
/* position */
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
/*z-index*/
/* cursor */
.cur-poi {
  cursor: pointer;
}
.cur-def {
  cursor: default!important;
}
/* overflow */
.ov-h {
  overflow: hidden;
}
.ov-a {
  overflow: auto;
}
/* visibility */
.vi-h {
  visibility: hidden;
}
.vi-v {
  visibility: visible;
}
/* opacity */
.opac0 {
  opacity: 0;
  filter: alpha(opacity=0);
}
/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.auto {
  margin-left: auto;
  margin-right: auto;
}
/* 清除浮动*/
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  line-height: 0;
}
.clearfix:after {
  clear: both;
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden;
  content: " ";
  line-height: 0;
}
.clearfix {
  *zoom: 1;
}
/* 基于display:table-cell的自适应布局 */
/* 双栏自适应cell部分连续英文字符换行 */
/* 单行文字溢出虚点显 示*/
.elli {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* css3过渡动画效果 */
.trans {
  -webkit-transition: all .15s;
  transition: all .15s;
}
/* 大小不定元素垂直居中 */
.dib_vm {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
/* 无框文本框文本域 */
.bd_none {
  border: 0;
  outline: none;
}
/* 绝对定位隐藏 */
.abs_out {
  position: absolute;
  left: -999em;
  top: -999em;
}
.abs_clip {
  position: absolute;
  clip: rect(0 0 0 0);
}
/* 按钮禁用 */
.disabled {
  outline: 0 none;
  cursor: default!important;
  opacity: .4;
  filter: alpha(opacity=40);
  -ms-pointer-events: none;
  pointer-events: none;
}
/*inline-block与float等宽列表*/
.inline_box {
  font-size: 1em;
  letter-spacing: -0.5em;
  margin-left: -10px;
  margin-right: -10px;
}
.inline_two,
.inline_three,
.inline_four,
.inline_five,
.inline_six,
.inline_any {
  display: inline-block;
  *display: inline;
  letter-spacing: 0;
  vertical-align: top;
  *zoom: 1;
}
.float_two,
.float_three,
.float_four,
.float_five,
.float_six {
  float: left;
}
.inline_two,
.float_two {
  width: 50%;
  *width: 49.9%;
}
.inline_three,
.float_three {
  width: 33.33333%;
  *width: 33.3%;
}
.inline_four,
.float_four {
  width: 25%;
  *width: 24.9%;
}
.inline_five,
.float_five {
  width: 20%;
  *width: 19.9%;
}
.inline_six,
.float_six {
  width: 16.66666%;
  *width: 16.6%;
}
.inline_fix {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.no-pd {
  padding: 0!important;
}
.no-bd {
  border: none!important;
}
.no-mg {
  margin: 0!important;
}
.no-tbd {
  border-top: 0!important;
}
.i-arr {
  font-family: consolas, sans-serif !important;
  font-style: normal;
}
.fw6 {
  font-weight: 600;
}
.fw4 {
  font-weight: 400;
}
.hr-dashed {
  height: 0;
  margin: 20px 0;
  color: #fff;
  border-top: 1px dashed #e7eaec;
  background-color: #fff;
}
.hr-solid {
  height: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e7eaec;
  background-color: rgba(0, 0, 0, 0);
}
ol.unstyled,
ul.unstyled {
  margin-left: 0;
  list-style: none outside none;
}
.bg-body {
  background-color: #f5f5f5;
}
.bg-gray {
  background-color: #b3b3b3;
}
.bg-white {
  background-color: #fff;
}
.bg-navy {
  color: #fff;
  background-color: #1ab394;
}
.bg-blue {
  color: #fff;
  background-color: #1c84c6;
}
.bg-yellow {
  color: #fff;
  background-color: #f5b931;
}
.bg-red {
  color: #fff;
  background-color: #ff3f1b;
}
.bg-black {
  background-color: #333;
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3;
}
.text-muted {
  color: #888;
}
.text-primary {
  color: #1499d2;
}
.text-inherit {
  color: inherit;
}
a.text-primary:hover {
  color: #1077a3;
}
.text-white {
  color: #fff;
}
.text-second {
  color: #ea9c43;
}
a.text-second:hover {
  color: #e18419;
}
.text-success {
  color: #33b466;
}
a.text-success:hover {
  color: #288c4f;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #f66606;
}
a.text-warning:hover {
  color: #c45105;
}
.text-danger {
  color: #f03b19;
}
a.text-danger:hover {
  color: #c92b0d;
}
.bg-primary {
  color: #fff;
  background-color: #1499d2;
}
a.bg-primary:hover {
  background-color: #1077a3;
}
.bg-second {
  color: #fff;
  background-color: #1499d2;
}
a.bg-second:hover {
  background-color: #1077a3;
}
.bg-success {
  background-color: #33b466;
}
a.bg-success:hover {
  background-color: #288c4f;
}
.bg-info {
  background-color: #31708f;
}
a.bg-info:hover {
  background-color: #245269;
}
.bg-warning {
  background-color: #f66606;
}
a.bg-warning:hover {
  background-color: #c45105;
}
.bg-danger {
  background-color: #f03b19;
}
a.bg-danger:hover {
  background-color: #c92b0d;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.label {
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  color: #5e5e5e;
  background-color: #d1dade;
  text-shadow: none;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #888;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #6f6f6f;
}
.label-primary {
  background-color: #1499d2;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #6f6f6f;
}
.label-success {
  background-color: #33b466;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #6f6f6f;
}
.label-info {
  background-color: #31708f;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #6f6f6f;
}
.label-warning {
  background-color: #f66606;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #6f6f6f;
}
.label-danger {
  background-color: #f03b19;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #6f6f6f;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}
a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.badge {
  font-size: 11px;
  font-weight: 600;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
  color: #5e5e5e;
  background-color: #d1dade;
  text-shadow: none;
}
.badge-primary,
.label-primary {
  color: #fff;
  background-color: #1499d2;
}
.badge-success,
.label-success {
  color: #fff;
  background-color: #33b466;
}
.badge-warning,
.label-warning {
  color: #fff;
  background-color: #f66606;
}
.badge-warning-light,
.label-warning-light {
  color: #fff;
  background-color: #fdc199;
}
.badge-danger,
.label-danger {
  color: #fff;
  background-color: #f03b19;
}
.badge-info,
.label-info {
  color: #fff;
  background-color: #31708f;
}
.badge-black,
.label-black {
  color: #fff;
  background-color: #262626;
}
.badge-white,
.label-white {
  color: #5e5e5e;
  background-color: #fff;
}
.badge-dis,
.label-dis {
  color: #8b91a0;
  background-color: #2a2e36;
}
/*page-layout*/
.content-mg {
  margin-top: 20px;
  margin-bottom: 40px;
}
.img-site {
  box-sizing: border-box;
  padding: 2px;
  border: 1px solid #eaeaea;
  border-radius: 1px;
}
.inner-wall {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.panel-wall {
  margin: 10px 18px;
}
.content-title {
  padding-top: 45px;
  padding-bottom: 30px;
  color: #1499d2;
  text-align: center;
}
.loading {
  height: 100%;
  min-height: 106px;
  min-width: 106px;
  margin: 0 auto;
  text-align: center;
  background: url(/Public/static/common/img/loading.gif) 50% 50% no-repeat;
}
.data-empty-0 {
  background: url(/Public/static/common/img/empty-0.png) 50% 50% no-repeat;
}
.data-empty-1 {
  background: url(/Public/static/common/img/empty-1.png) 50% 50% no-repeat;
}
.data-empty-2 {
  background: url(/Public/static/common/img/empty-2.png) 50% 50% no-repeat;
}
.full-loading {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}
@media (max-width: 768px) {
  .loading {
    background-size: 24px 24px;
  }
  .data-empty-0 {
    background-size: 60px;
  }
  .data-empty-1 {
    background-size: 100px;
  }
  .data-empty-2 {
    background-size: 130px;
  }
}
/*按钮*/
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn {
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
  *overflow: visible;
  padding: 0.35em 0.75em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  *color: #444;
  border: 1px solid #eee;
  background-color: #eee;
  text-decoration: none;
}
.btn-link {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
}
.btn-close {
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
}
.btn-hidden {
  display: none;
}
.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
  background-color: #1499d2;
  border-color: #1499d2;
  color: #fff;
}
.btn-white {
  background-color: #fff;
}
.btn-white:hover {
  border-color: #1499d2;
  color: #1499d2;
}
.btn-white.checked {
  border-color: #1499d2;
  color: #1499d2;
  cursor: default;
}
.btn-yellow,
.btn-yellow:hover {
  background-color: #f5b931;
  border-color: #f5b931;
  color: #fff;
}
.btn-second {
  background: #fff;
  color: #1499d2;
  border-color: #1499d2;
  -webkit-transition: background-color 0.3s ,  color 0.3s;
  -o-transition: background-color 0.3s ,  color 0.3s;
  transition: background-color 0.3s ,  color 0.3s;
}
.btn-second:hover {
  background: #1499d2;
  color: white;
}
/*btn-扩展*/
/*状态*/
.btn-success,
.btn-error,
.btn-warning {
  color: white;
}
.btn-success {
  background: #33b466;
  border-color: #33b466;
}
.btn-error {
  background: #f03b19;
  border-color: #f03b19;
}
.btn-warning {
  background: #f66606;
  border-color: #f66606;
}
/*大小*/
.btn-xs {
  font-size: 70%;
}
.btn-sm {
  font-size: 85%;
}
.btn-lg {
  font-size: 110%;
}
.btn-xl {
  font-size: 125%;
}
/* 宽度 */
.btn-lg-w {
  min-width: 120px;
}
.btn-md-w {
  min-width: 60px;
}
.btn-block {
  display: block;
}
/* 交互 */
.btn-hover,
.btn:hover,
.btn:focus {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1affffff', endColorstr='#1affffff', GradientType=0);
}
.btn:focus {
  outline: 0;
}
.btn-active,
.btn-active:hover {
  cursor: default;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#1a000000', GradientType=0);
}
.btn:active {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#1a000000', GradientType=0);
}
.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}
/*表单*/
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {
  line-height: 1.4;
  padding: 0.4em 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form input:not([type]) {
  padding: 0.4em 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form input[type="color"] {
  padding: 0.2em 0.5em;
}
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #1499d2;
  -webkit-box-shadow: 0 0 6px #a2ddf6;
  box-shadow: 0 0 6px #a2ddf6;
}
.form input:not([type]):focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #1499d2;
}
.form input[type="file"]:focus,
.form input[type="radio"]:focus,
.form input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 1px auto #1499d2;
}
.form .checkbox,
.form .radio {
  margin: 0.4em 0;
  display: block;
}
.form input[type="text"][disabled],
.form input[type="password"][disabled],
.form input[type="email"][disabled],
.form input[type="url"][disabled],
.form input[type="date"][disabled],
.form input[type="month"][disabled],
.form input[type="time"][disabled],
.form input[type="datetime"][disabled],
.form input[type="datetime-local"][disabled],
.form input[type="week"][disabled],
.form input[type="number"][disabled],
.form input[type="search"][disabled],
.form input[type="tel"][disabled],
.form input[type="color"][disabled],
.form select[disabled],
.form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.form input[readonly],
.form select[readonly],
.form textarea[readonly] {
  background: #eee;
  color: #777;
  border-color: #ccc;
}
.form input:focus:invalid,
.form textarea:focus:invalid,
.form select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
.form input:focus:invalid:focus,
.form textarea:focus:invalid:focus,
.form select:focus:invalid:focus {
  border-color: #e9322d;
}
.form input[type="file"]:focus:invalid:focus,
.form input[type="radio"]:focus:invalid:focus,
.form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.form select {
  border: 1px solid #ccc;
  background-color: white;
}
.form select[multiple] {
  height: auto;
}
.form label {
  margin: 0.5em 0 0.2em;
}
.form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}
.form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.form-aligned input,
.form-aligned textarea,
.form-aligned select,
.form-aligned .help-in,
.form-msg-in {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.form-aligned textarea {
  vertical-align: top;
}
.form-aligned .control-group {
  margin-bottom: 0.5em;
}
.form-aligned .control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.form-aligned .controls {
  margin: 1.5em 0 0 10em;
}
.form input.input-rounded,
.form .input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}
.form .group fieldset {
  margin-bottom: 10px;
}
.form .group input {
  display: block;
  padding: 10px;
  margin: 0;
  position: relative;
  top: -1px;
}
.form .group input:focus {
  z-index: 2;
}
.form .group input:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
}
.form .group input:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
}
.form .group button {
  margin: 0.35em 0;
}
.form .input-1 {
  width: 100%;
}
.form .input-2-3 {
  width: 66%;
}
.form .input-1-2 {
  width: 50%;
}
.form .input-1-3 {
  width: 33%;
}
.form .input-1-4 {
  width: 25%;
}
.form .help-in,
.form-msg-in {
  display: inline-block;
  padding-left: 0.3em;
  color: #888;
  vertical-align: middle;
  font-size: 0.875em;
}
.form-msg {
  display: block;
  color: #888;
  font-size: 0.875em;
}
.tr-maxw {
  max-width: 250px;
  word-break: break-all;
  padding: 0 1em;
}
/* 班级 */
/*功能面板*/
.panel .panel-head {
  border-bottom: 1px solid #bfbfbf;
  line-height: 34px;
  font-size: 18px;
  padding: 1em 0;
  *zoom: 1;
}
.panel .panel-head:after {
  clear: both;
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden;
  content: " ";
  line-height: 0;
}
.panel .panel-name {
  float: left;
  font-weight: 400;
  padding-right: 0.8em;
  font-size: 1em;
}
.panel .panel-name .iconfont {
  float: left;
  padding-right: 0.2em;
  color: #1499d2;
  font-size: 1.6em;
}
.panel .panel-handle {
  float: right;
  font-size: 0.8em;
}
.panel .panel-handle .btn {
  min-width: 4em;
  line-height: 32px;
  padding: 0 0.7em;
  margin-left: 5px;
}
.panel .panel-handle .link {
  color: #1499d2;
}
.tab .tab-nav {
  border-bottom: 1px solid #ddd;
}
.tab .tab-nav .nav-itm {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 0;
  text-align: center;
  padding: 0.4em 0.8em;
  border-radius: 2px 2px 0 0;
}
.tab .tab-nav .nav-itm:hover {
  background-color: #f1f1f1;
}
.tab .tab-nav .nav-itm.on {
  border: 1px solid #ddd;
  border-bottom-color: #fff;
  background-color: #fff;
  color: #1499d2;
  cursor: default;
  margin: -1px;
}
/*表格*/
.table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
.table-fixed {
  table-layout: fixed;
}
.table caption {
  color: #333;
  padding: 1em 0;
  text-align: center;
}
.table td,
.table th {
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em .8em;
  overflow-wrap: break-word;
}
.table-compact td,
.table-compact th {
  padding: .5em .1em;
}
.table thead {
  background: #eee;
  color: #333;
  text-align: left;
  vertical-align: bottom;
}
.table td {
  background-color: transparent;
}
.table-odd td {
  background-color: #f5f5f5;
}
.table-striped tr:nth-child(2n) td {
  background-color: #f5f5f5;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #ddd;
}
.table-horizontal td,
.table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #ddd;
}
.table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}
/*面包屑导航*/
.crumbs-wrap {
  padding: 12px 5px 10px;
}
.crumbs {
  color: #666;
}
.crumbs .icon {
  color: #ccc;
  font-weight: 300;
  margin: 0 0.1em;
}
.crumbs cite {
  font-style: normal;
}
.crumbs a {
  color: #666;
}
.crumbs a:hover {
  color: #ea9c43;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
}
.close {
  float: right;
  font-size: 20px;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=30);
  opacity: .3;
}
.alert-dismissable .close {
  position: relative;
  top: 0;
  right: -21px;
  color: inherit;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fff0df;
  border-color: #fbe0ab;
}
.alert-info {
  color: #1288bb;
  background-color: #dff2fa;
  border-color: #8bd4f4;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
/*!
 laypage默认样式
*/
.laypage_main a,
.laypage_main input,
.laypage_main span {
  height: 26px;
  line-height: 26px;
}
.laypage_main button,
.laypage_main input,
.laypageskin_default a {
  border: 1px solid #ccc;
  background-color: #fff;
}
.laypage_main {
  font-size: 0;
  clear: both;
  color: #666;
}
.laypage_main * {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
.laypage_main a {
  text-decoration: none;
  color: #666;
}
.laypage_main a,
.laypage_main span {
  margin: 0 3px 6px;
  padding: 0 10px;
}
.laypage_main input {
  width: 40px;
  margin: 0 5px;
  padding: 0 5px;
}
.laypage_main button {
  height: 28px;
  line-height: 28px;
  margin-left: 5px;
  padding: 0 10px;
  color: #666;
}
.laypageskin_default span {
  height: 28px;
  line-height: 28px;
  color: #999;
}
.laypageskin_default .laypage_curr {
  font-weight: 700;
  color: #666;
}
.laypageskin_molv a,
.laypageskin_molv span {
  padding: 0 12px;
  border-radius: 2px;
}
.laypageskin_molv a {
  background-color: #f1eff0;
}
.laypageskin_molv .laypage_curr {
  background-color: #00AA91;
  color: #fff;
}
.laypageskin_molv input {
  height: 24px;
  line-height: 24px;
}
.laypageskin_molv button {
  height: 26px;
  line-height: 26px;
}
.laypageskin_yahei {
  color: #333;
}
.laypageskin_yahei a,
.laypageskin_yahei span {
  padding: 0 13px;
  border-radius: 2px;
  color: #333;
}
.laypageskin_yahei .laypage_curr {
  background-color: #333;
  color: #fff;
}
.laypageskin_flow {
  text-align: center;
}
.laypageskin_flow .page_nomore {
  color: #999;
}
/*分页*/
.radio-beautify label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.radio-beautify label input[type="radio"],
.radio-beautify label input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.radio-beautify label.checked {
  color: #1499d2;
  cursor: default;
}
.radio-beautify label.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: not-allowed;
}
.load-more {
  padding: 2em 0;
}
.load-more a {
  display: block;
  padding: 0.5em;
  text-align: center;
}
.header-wrap {
  position: relative;
  z-index: 100;
  background-color: #1499d2;
}
.header {
  position: relative;
  z-index: 0;
}
.header .logo {
  float: left;
  height: 70px;
}
.header .logo img {
  padding-top: 10px;
}
.header .logo .sub-logo {
  float: right;
  color: #fff;
  margin-top: 18px;
  line-height: 1.4;
  font-size: 22px;
  font-weight: 300;
  border-left: 2px groove #1cafef;
  padding-left: 10px;
  margin-left: 10px;
}
.header .user-login {
  float: right;
  position: relative;
  color: #fff;
  padding: 20px 6px;
  width: 150px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  cursor: default;
}
.header .user-login:hover {
  background-color: #1288bb;
}
.header .user-login:hover .user-menu-list {
  display: block;
}
.header .user-login .user-name {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  width: 4em;
  vertical-align: bottom;
}
.header .user-login .user-icon {
  float: left;
  font-size: 23px;
  margin-right: 6px;
}
.header .user-login .arrow-icon {
  top: 10px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #fff transparent transparent transparent;
  border-bottom-width: 0;
}
.header .user-login a {
  color: #fff;
}
.header .user-login a:hover {
  opacity: .9;
  filter: alpha(opacity=80);
}
.header .user-login .user-menu-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.header .user-login .user-menu-list li {
  line-height: 40px;
  text-align: left;
  padding: 0 6px;
}
.header .user-login .user-menu-list li a {
  display: block;
  border-top: 1px dotted #3c3c3c;
  padding-left: 36px;
}
.header .user-login .user-menu-list li a i.iconfont {
  margin-right: 5px;
  font-weight: 600;
}
.header .user-login .user-menu-list li a sup {
  display: inline-block;
  background-color: #f03b19;
  border-radius: 8px;
  height: 15px;
  padding: 0 4px;
  line-height: 15px;
  text-align: center;
}
.header .user-login .user-menu-list li:first-child a {
  border: none;
}
.header .user-login .user-menu-list li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.header .user-login .user-menu-list .um-xiaoxi-ico {
  color: #1499d2;
}
.header .user-login .user-menu-list .um-exit-ico {
  color: #f03b19;
}
.footer-wrap {
  padding: 12px 0;
  line-height: 22px;
  font-size: 13px;
}
.footer-wrap .footer {
  color: #c5c5c5;
  text-align: center;
}
.footer-wrap .footer a {
  display: inline-block;
  color: #c5c5c5;
}
.footer-wrap .footer a#anbei {
  padding-left: 24px;
  background: url(/Public/static/common/img/icon_anbei.png) 2px 50% no-repeat;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.layer-box {
  font-size: 13px;
}
.layer-box .iem-item {
  margin-bottom: 15px;
}
.layer-box .iem-item .item-name {
  float: left;
  width: 78px;
  line-height: 30px;
  text-align: right;
  position: relative;
}
.layer-box .iem-item .item-block {
  margin-left: 78px;
  position: relative;
  display: block;
}
.layer-box .iem-item .item-block .large-input {
  width: 100%;
}
.layer-box .iem-item .large-text {
  width: 100%;
  height: 10em;
}
.layer-box .feedback-btn {
  text-align: center;
  margin-bottom: 0;
}
.layer-box .feedback-btn .btn {
  margin-top: 10px;
}
.table-msg tr {
  vertical-align: top;
}
.table-msg tr:hover .msg-info {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
.msg-user {
  width: 120px;
  text-align: center;
  margin-top: 20px;
}
.msg-user .user-pic {
  width: 53px;
  height: 53px;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 53px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #f5f5f5;
}
.msg-user .user-pic img {
  width: 100%;
}
.msg-user .user-name {
  margin-top: 8px;
}
.dot-td {
  width: 0;
  border-left: 4px solid #ddd;
  position: relative;
}
.dot-td .dotted {
  position: absolute;
  top: 18px;
  left: -9px;
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid #1499d2;
  border-radius: 50%;
}
.msg-con {
  width: 944px;
  margin-left: 24px;
  position: relative;
}
.msg-con .msg-close {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  top: 15px;
  right: -8px;
  color: #ff4b4b;
  background-color: #fff;
  display: none;
}
.msg-con .msg-close .iconfont {
  font-size: 18px;
}
.msg-con .msg-time {
  color: #aaa;
  font-size: 12px;
}
.msg-con .msg-info {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 5px 0 20px;
  position: relative;
}
.msg-con .msg-info::after {
  position: absolute;
  left: -9px;
  top: 0;
  content: "";
  width: 0;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
}
.msg-con .msg-info::before {
  position: absolute;
  left: -12px;
  top: -1px;
  content: "";
  width: 0;
  border-top: 12px solid #ddd;
  border-left: 12px solid transparent;
}
.msg-con .msg-info .msg-info-name {
  color: #555;
}
.msg-con .msg-info .msg-info-title {
  color: #333;
  font-size: 16px;
  margin: 8px 0 5px;
}
.msg-con .msg-info .msg-info-text {
  color: #888;
}
