@import "animate.min.css";
@import "iconfont.css";
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #4B88E6;
  outline: none;
  transition: border-color 0.1s;
}
.w1000 {
  width: 1000px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}
body {
  background-color: #fff;
  padding-top: 94px;
}
.header-wrap {
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
}
.header-wrap .index-header {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-wrap .index-header .logo {
  height: 94px;
}
.header-wrap .index-header .logo img {
  margin-top: 16px;
}
.header-wrap .index-header .logo .sub-logo {
  color: #9d9d9d;
  margin-top: 34px;
  border-left: 2px groove #ddd;
  font-size: 24px;
}
.header-nav-top {
  float: right;
  height: 94px;
  cursor: pointer;
}
.header-nav-top .nav-item {
  float: left;
  padding: 0 20px;
  text-align: center;
  position: relative;
}
.header-nav-top .nav-item:after {
  content: '';
  position: absolute;
  bottom: 26px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #4f8ee6;
  transform: translateX(-50%);
  transition: width 0.2s;
}
.header-nav-top .nav-item:hover:after {
  width: 100%;
}
.header-nav-top .nav-item:hover .tn-link {
  color: #4f8ee6;
}
.header-nav-top .nav-item:hover .tn-link .arrow-icon {
  transform: rotate(180deg);
  transform-origin: center 3px;
}
.header-nav-top .nav-item .tn-link {
  display: inline-block;
  font-size: 18px;
  line-height: 94px;
}
.header-nav-top .nav-item .tn-link .arrow-icon {
  position: absolute;
  top: 44px;
  width: 0;
  height: 0;
  margin-left: 8px;
  border: 6px solid transparent;
  border-color: #b3b3b3 transparent transparent transparent;
  transform: rotate(0deg);
  transition: all 0.2s;
}
.header-nav-top .nav-item:hover .header-nav-child {
  opacity: 0.9;
  display: block;
}
.header-nav-top .header-nav-child {
  position: absolute;
  top: 76px;
  left: -5px;
  opacity: 0;
  display: none;
  background: #fff;
  border-radius: 4px;
  width: 140px;
  z-index: 99;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  transition: all 0.15s ease-out 0.1s;
}
.header-nav-top .header-nav-child .arrow-top {
  position: absolute;
  top: -14px;
  left: 63px;
  width: 0;
  height: 0;
  border: 8px solid #fff;
  border-color: transparent  transparent #fff transparent;
}
.header-nav-top .header-nav-child a {
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  display: block;
}
.header-nav-top .header-nav-child a:hover {
  background-color: #eee;
}
.header-wrap.header-fixd {
  position: fixed;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}
.header-wrap.header-fixd .content {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-wrap.header-fixd .logo {
  height: 70px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header-wrap.header-fixd .logo img {
  margin-top: 5px;
}
.header-wrap.header-fixd .logo .sub-logo {
  margin-top: 20px;
}
.header-wrap.header-fixd .header-nav-top {
  height: 70px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header-wrap.header-fixd .header-nav-top .header-nav-child {
  top: 64px;
}
.header-wrap.header-fixd .header-nav-top .tn-link {
  line-height: 70px;
}
.header-wrap.header-fixd .header-nav-top .tn-link .arrow-icon {
  top: 35px;
}
.header-wrap.header-fixd .header-nav-top .nav-item:after {
  bottom: 12px;
}
.banner-wrap {
  position: relative;
  min-height: 560px;
  width: 100%;
}
.banner-wrap li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-wrap li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
}
.banner-wrap .banner-img1 {
  background: #093b54 url("/Public/static/index/img/banner1.png") no-repeat center center;
}
.banner-wrap .banner-img2 {
  background: #f29a1c url("/Public/static/index/img/banner2.png") no-repeat center center;
}
.banner-wrap .banner-img3 {
  background: #4489fe url("/Public/static/index/img/banner3.png") no-repeat center center;
}
.banner-wrap .banner-img4 {
  background: #02122c url("/Public/static/index/img/banner4.png") no-repeat center center;
}
.banner-wrap .btnList {
  position: absolute;
  left: 50%;
  bottom: 5%;
  width: 1000px;
  font-size: 0;
  margin-left: -500px;
  text-align: center;
}
.banner-wrap .btnList dd {
  display: inline-block;
  margin: 0 6px;
}
.banner-wrap .btnList dd a {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  opacity: .4;
}
.banner-wrap .btnList dd .active {
  background: #fff;
  opacity: 1;
}
.banner-log-wrap {
  position: relative;
}
.banner-log-wrap .login-form-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -170px;
  margin-left: 245px;
  width: 292px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 9;
  overflow: hidden;
}
.banner-log-wrap .login-form-box .login-wrap {
  padding: 20px 21px 10px;
}
.banner-log-wrap .login-form-box .login-wrap .title {
  text-align: center;
}
.banner-log-wrap .login-form-box .login-item {
  margin-top: 18px;
  width: 248px;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.banner-log-wrap .login-form-box .login-item .iconfont {
  float: left;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 19px;
  text-align: center;
  color: #ccc;
  background-color: #eee;
}
.banner-log-wrap .login-form-box .login-item input {
  float: left;
  width: 206px;
  border: none;
  height: 42px;
  line-height: 42px;
}
.banner-log-wrap .login-form-box .login-msg {
  height: 30px;
  line-height: 30px;
  color: #f12f2f;
  font-size: 12px;
  background-color: #fee3e3;
  border: 1px solid #f5b8b8;
  border-radius: 5px;
  margin-top: 10px;
  display: none;
}
.banner-log-wrap .login-form-box .login-msg .iconfont {
  font-size: 14px;
  margin: 0 6px 0 12px;
}
.banner-log-wrap .login-form-box .login-other {
  padding: 5px 6px 0;
  color: #888888;
  margin-top: 10px;
}
.banner-log-wrap .login-form-box .login-other input {
  vertical-align: -2px;
}
.banner-log-wrap .login-form-box .login-btn {
  margin-top: 32px;
}
.banner-log-wrap .login-form-box .login-btn .login-big-btn {
  width: 248px;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
}
.banner-log-wrap .login-system {
  height: 48px;
  background: #eee;
  margin-top: 23px;
  text-align: center;
  line-height: 48px;
}
.banner-log-wrap .login-system a {
  color: #00adef;
}
.banner-log-wrap .system-tab .tab-btn {
  display: block;
  width: 50px;
  height: 50px;
  padding-left: 16px;
  padding-top: 10px;
  background-color: #f9b33e;
  border-radius: 0 0 0 50px;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 999;
}
.intro-wrap {
  background: #fff;
}
.intro-wrap .center {
  text-align: center;
}
.intro-wrap .section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}
.intro-wrap .section h3 {
  font-size: 40px;
  color: #526069;
  margin-bottom: 50px;
}
.intro-wrap .section h3 span {
  font-size: 26px;
  display: block;
}
.useSystemPic span {
  display: inline-block;
}
.answerCard .imganiamte {
  position: relative;
}
.answerCard .imganiamte span {
  position: absolute;
  right: 100px;
  bottom: 0;
}
.footer-wrap {
  padding: 28px 0;
  background-color: #404040;
}
.footer-box .footer-info {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #cccccc;
  line-height: 2;
}
.footer-box .footer-info a {
  display: inline-block;
  color: #cccccc;
  margin: 0 6px;
}
.footer-box .footer-info a:hover {
  text-decoration: underline;
}
.footer-box .fb-contact {
  margin-top: 6px;
  float: right;
}
.footer-box .fb-contact a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 33px;
  color: #b6b6b6;
  text-align: center;
  margin-right: 15px;
}
.footer-box .fb-contact a:hover {
  background-position: -79px 0;
}
.footer-box .fb-contact a:hover .iconfont {
  color: #eee;
}
.footer-box .fb-contact .iconfont {
  font-size: 24px;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.footer-box .anbei {
  padding-left: 24px;
  background: url("/Public/static/index/img/icon_anbei.png") 0 50% no-repeat;
}
.second-footer-wrap {
  background-color: #EAEAEA;
}
.second-footer-wrap .footer-box .footer-info {
  float: none;
  color: #777;
  font-weight: 500;
  text-align: center;
  cursor: default;
}
.second-footer-wrap .footer-box .footer-info a {
  color: #777;
}
.loginBtn {
  margin: 60px auto 24px;
}
.loginBtn a {
  display: block;
  width: 296px;
  height: 50px;
  text-align: center;
  background: #00adef;
  border-radius: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
  transition: all 0.2s;
  box-shadow: 0 0 0 5px rgba(0, 84, 116, 0.4);
}
.loginBtn a:hover {
  box-shadow: 0 0 0 5px #005474;
}
.analy-banner {
  width: 100%;
  height: 830px;
  background: url("/Public/static/index/img/analy-banner.png") no-repeat;
  text-align: center;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.analy-banner h3 {
  font-size: 40px;
  padding: 90px 0 20px;
}
.analy-banner .banner-sub {
  font-size: 18px;
  line-height: 24px;
}
.analy-banner .banner-sub span {
  margin: 0 10px;
  opacity: .5;
}
.analy-banner .banner-pic {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -493px;
}
.analy-banner .banner-pic img {
  vertical-align: top;
}
.box-content {
  padding: 50px 0;
}
.box-content.bgBlue {
  background-color: #7dc7ee;
  color: #fff;
}
.box-content.bgBlue .section-info .section-text {
  color: #fff;
}
.section .section-info {
  padding-top: 100px;
  text-align: left;
}
.section .section-info h4 {
  font-size: 38px;
  margin-bottom: 10px;
}
.section .section-info .section-text {
  font-size: 20px;
  color: #526069;
}
.intro-wrap .analy-section1 {
  background: url("/Public/static/index/img/analy-section1-bg.png") 600px top no-repeat;
}
.intro-wrap .analy-section2 {
  padding-top: 200px;
  background: url("/Public/static/index/img/analy-section2-bg.png") 230px top no-repeat;
}
.intro-wrap .analy-section3 {
  padding-top: 200px;
  background: url("/Public/static/index/img/analy-section3-bg.png") 230px top no-repeat;
}
.monitor-banner {
  width: 100%;
  height: 630px;
  background: #223249 url("/Public/static/index/img/monitor-banner.png") center top no-repeat;
  text-align: center;
  color: #fff;
  position: relative;
}
.monitor-banner .monitor-banner-box {
  position: absolute;
  z-index: 10;
  width: 296px;
  left: 50%;
  margin-left: -148px;
}
.monitor-banner h3 {
  font-size: 40px;
  padding: 50px 0 20px;
}
.monitor-banner .banner-sub {
  font-size: 18px;
  line-height: 24px;
}
.monitor-banner .banner-sub span {
  margin: 0 10px;
  opacity: .5;
}
.monitor-banner .banner-pic {
  position: absolute;
  bottom: -300px;
  left: 50%;
  margin-left: -550px;
}
.monitor-banner .banner-bg {
  overflow: hidden;
}
.monitor-banner .banner-bg img {
  width: 95%;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
}
.intro-wrap .monitor-section1 {
  background: url("/Public/static/index/img/monitor-section1-bg.png") 100px 300px no-repeat;
  padding-top: 300px;
}
.intro-wrap .monitor-section2 {
  background: #74ccee url("/Public/static/index/img/monitor-section2-bg.png") no-repeat;
}
.intro-wrap .monitor-section2 .section {
  padding: 50px 0;
}
.intro-wrap .monitor-section2 .section .section-info {
  color: #fff;
  margin-top: 80px;
}
.intro-wrap .monitor-section2 .section .section-info .section-text {
  color: #fff;
}
.intro-wrap .monitor-section3 {
  height: 620px;
  background: url("/Public/static/index/img/monitor-section3-bg.png") #f47264 100px 0 no-repeat;
}
.intro-wrap .monitor-section3 .section {
  padding-top: 50px;
}
.intro-wrap .monitor-section3 .section .section-info {
  color: #fff;
  margin-top: 80px;
}
.intro-wrap .monitor-section3 .section .section-info .section-text {
  color: #fff;
}
.content h3 {
  margin: 100px 0 50px;
  color: #526069;
  font-size: 40px;
}
.appDown {
  margin: 0 auto;
  width: 400px;
  height: 300px;
  overflow: hidden;
}
.appDown .cardBox {
  position: relative;
  width: 142px;
  height: 180px;
}
.appDown .cardBox .rotate {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.appDown .cardBox .opposite {
  transform: rotateY(180deg);
}
.appDown .cardBox:hover .correct {
  transform: rotateY(180deg);
}
.appDown .cardBox:hover .opposite {
  transform: rotateY(0deg);
}
.appDown .cardBox:hover .cardBox-icon {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
.appDown .cardBox .cardBox-icon {
  display: block;
  width: 132px;
  height: 132px;
  margin: 5px;
  line-height: 132px;
  border-radius: 50%;
}
.appDown .cardBox .cardBox-icon .iconfont {
  font-size: 60px;
  color: #fff;
}
.appDown .cardBox .cardBox-info {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  color: #526069;
}
.iosBg {
  background-color: #81d3f9;
}
.andrBg {
  background-color: #8ed700;
}
.scan-banner {
  width: 100%;
  height: 840px;
  background: #0064c4 url("/Public/static/index/img/scan-banner-bg.png") center top no-repeat;
  color: #fff;
}
.scan-banner .banner-sub {
  font-size: 26px;
  padding-top: 120px;
}
.scan-banner h3 {
  font-size: 54px;
}
.scan-banner .scanBtn {
  margin-top: 60px;
}
.scan-banner .scanBtn a {
  display: block;
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  transition: all 0.3s;
}
.scan-banner .scanBtn a:hover {
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);
}
.scan-banner .scan-banner-box {
  position: relative;
  height: 100%;
}
.scan-banner .scan-banner-box .scan-banner-pic {
  position: absolute;
  top: 50px;
  right: 0;
  width: 800px;
}
.scan-banner .scan-banner-box .scan-banner-pic img {
  position: relative;
  left: 0;
  bottom: 0;
}
.scan-section {
  text-align: center;
  position: relative;
}
.scan-section .clever h3 {
  position: absolute;
  top: 160px;
  left: 50%;
  margin-left: -182px;
  z-index: 10;
}
.scan-section .search {
  position: absolute;
  top: 440px;
  right: 240px;
  animation: rot 2s linear infinite;
}
@keyframes rot {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(30px) translateY(0px);
  }
  50% {
    transform: translateX(30px) translateY(30px);
  }
  75% {
    transform: translateX(0px) translateY(30px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
.review-banner {
  width: 100%;
  height: 840px;
  background: #223249 url("/Public/static/index/img/review-banner-bg.png") center top no-repeat;
  color: #fff;
}
.review-banner .bannerL {
  margin-top: 200px;
}
.review-banner .bannerR {
  margin-top: 260px;
}
.review-banner .bannerR h3 {
  font-size: 40px;
}
.review-banner .bannerR .banner-sub {
  font-size: 18px;
  margin-top: 16px;
}
.review-banner .bannerR .banner-sub span {
  margin: 0 14px;
}
.intro-wrap .section.padno {
  padding: 0;
}
.review-section2 {
  background: #f2f9fb url("/Public/static/index/img/review-section2-bg.png") center 100px no-repeat;
  margin-top: -55px;
}
.review-section3 {
  background: #fff url("/Public/static/index/img/review-section3-bg.png") center 150px no-repeat;
}
.box-content.review-section4 {
  background: #f2f9fb;
  padding-bottom: 0;
}
.box-content.review-section4 .section {
  padding-bottom: 0;
}
.sidebar-tool-wrap {
  width: 100%;
  height: 0;
  position: fixed;
  right: 0;
  bottom: 80px;
}
.sidebar-tool-wrap .sidebar-tool {
  margin: 0 auto;
  position: relative;
}
.sidebar-tool-wrap .sidebar-tool .func-list {
  float: right;
  width: 54px;
  position: absolute;
  right: 20px;
  bottom: 0;
}
.sidebar-tool-wrap .sidebar-tool .func-list .item4 {
  height: 0;
  overflow: hidden;
  border-bottom-width: 0;
  transition: height 0.3s ease-in-out 0.5s , border-bottom-width 0.3s ease-in-out 0.5s;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li {
  border: 1px solid #ddd;
  border-top: 0;
  height: 54px;
  background: url(/Public/static/index/img/sidebar/sidebar_icon.png) -2px 0 no-repeat;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li:first-child {
  border-top: 1px solid #ddd;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item1 {
  background-position: -2px 0;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item1 .service-tell {
  float: left;
  width: 100px;
  position: absolute;
  top: 0;
  right: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: transform 0.2s , opacity 0.2s;
  -o-transition: transform 0.2s , opacity 0.2s;
  transition: transform 0.2s , opacity 0.2s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
  transform-origin: 100% 0;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item1 .service-tell .icon {
  padding-left: 24px;
  margin-bottom: 6px;
  background: url(/Public/static/index/img/sidebar/tell.png) 0 50% no-repeat;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item1 .service-tell p {
  font-size: 14px;
  color: #1499d2;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item1:hover .service-tell {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item2 {
  background-position: -2px -54px;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item3 {
  background-position: -2px -108px;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item3 .show-ewm {
  position: absolute;
  bottom: 0;
  right: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: transform 0.4s , opacity 0.4s;
  -o-transition: transform 0.4s , opacity 0.4s;
  transition: transform 0.4s , opacity 0.4s;
  transform-origin: 100% 100%;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item3 .show-ewm .app-ewm {
  float: left;
  width: 90px;
  padding: 14px 5px 4px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #666;
  text-align: center;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item3 .show-ewm .app-ewm img {
  display: block;
  margin: 0 auto;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item3 .show-ewm .app-ewm p {
  padding: 6px;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item3:hover .show-ewm {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.sidebar-tool-wrap .sidebar-tool .func-list > li.item4 {
  background-position: -2px -162px;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li > a {
  display: block;
  height: 100%;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li .tips-title {
  padding: 12px 0;
  font-size: 14px;
  line-height: 16px;
  background-color: #1499d2;
  color: #fff;
  text-align: center;
  display: block;
  opacity: 0.0;
  filter: alpha(opacity=0);
}
.sidebar-tool-wrap .sidebar-tool .func-list > li:hover {
  border-color: #1499d2;
}
.sidebar-tool-wrap .sidebar-tool .func-list > li:hover .tips-title {
  opacity: 1;
  filter: alpha(opacity=100);
}
